@font-face {
  font-family: Gang of Three;
  src: url(../fonts/gang_of_three.ttf);
}

h1,h2,h3,h4 {
  font-family: Gang of Three;
}

p {
   text-indent: 20px;
   text-align: justify;
  }

.events, .contacts {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Navbar */
.navbar {
  z-index: 1;
}

/* Animation */
.animation-fluid {
  height: 400px;
  background-color: #1b1b1b;
  box-shadow: 0 0 10px rgba(0,0,0,5);
}

.animation {
  text-align: center;
  position: relative;
  height: 400px;
  background-color: #1b1b1b;
}

#unnamed {
  position: absolute;
  width: 10em;
  animation-name: main_animation;
  animation-duration: 2s;
  animation-delay: 1s;
  left: -120em;
  animation-fill-mode: forwards;
  top: 50%;
  margin: -11em 0 0 0;
}

@keyframes main_animation {
    from {left: -25em;}
    to {left: 0em;}
}

#zendokai {
  position: absolute;
  color: white;
  font-size: 4em;
  animation-name: zendokai_animation;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 1s;
  top: -10em;
  left: 3em;
  max-width: 75%;
  z-index: 0;
}

@keyframes zendokai_animation {
    from {top: -10em;}
    to {top: 1em;}
}

#school {
  position: absolute;
  color: white;
  font-size: 3.2em;
  animation-name: school_animation;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 1s;
  bottom: -10em;
  left: 4em;
}

@keyframes school_animation {
    from {bottom: -10em;}
    to {bottom: 2em;}
}

.photo {
  max-width: 100%;
  border: 1px solid black;
}

/* footer */
footer {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer div a,
footer div a:hover {
  text-decoration: none;
  color: white;
}
